<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">YO TE AVISO | FINTLAB</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">¿Qué es?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#inscripcion">Inscríbete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>YO TE AVISO</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Aportamos a tu negocio</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Saber más</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Qué es YTA</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Es un algoritmo digital que obtiene en tiempo real la información respecto al cambio de estado de las facturas emitidas por tu empresa e informa de las facturas rechazadas por el SII </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Ver Beneficios</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Beneficios para tu Empresa</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Facturas emitidas</h3>
          <p class="text-muted mb-0">Cada vez que una factura emitida por tu empresa cambie de estado te avisamos en tiempo real</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-window-close text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Facturas rechazadas</h3>
          <p class="text-muted mb-0">Ya no tienes que estar llamando a los call-center, te avisamos cuándo y porqué rechazaron tu factura</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Más tiempo</h3>
          <p class="text-muted mb-0">Liberamos recursos valiosos de tu empresa dedicados a gestión de facturas, mientras tu potencias tu negocio</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-usd text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Financiamiento</h3>
          <p class="text-muted mb-0">Te facilitamos la opción de buscar financiamiento entregando la información que necesitas para hacer Factoring</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/1.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/1.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/2.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/2.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/3.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/3.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/4.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/4.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/5.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/5.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<%= asset_path 'portfolio/fullsize/6.jpg' %>">
          <img class="img-fluid" src="<%= asset_path 'portfolio/thumbnails/6.jpg' %>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->

<section id="inscripcion" class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">¿Estás interesado?</h2>
    <h2 class="mb-4">Déjanos tus datos y te llamamos de vuelta<h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfN5VFwn_nJsoodLgstHuXOhQpEt_6hhLv_w3byb-2d0HRe_g/viewform?embedded=true" width="100%" height="1080" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    <!-- <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a> -->
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contacto</h2>
        <hr class="my-4">
        <p class="mb-5">Cualquier duda puedes llamarnos o escribirnos al correo y con gusto podremos ayudarte en lo que necesites</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
